services:
  backend:
    image: tinkerforge/esp32-remote-access:latest-seb
    restart: always
    container_name: backend
    user: "${UID:-1000}:${GID:-1000}"
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "443:443"
      - 51820:51820/udp
    volumes:
      - ./warp-charger/firmwares/static_html:/static
      - ./certs:/certs:ro
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
      - EMAIL_RELAY=${EMAIL_RELAY}
      - EMAIL_RELAY_PORT=${EMAIL_RELAY_PORT}
      - FRONTEND_URL=${FRONTEND_URL}
      - SERVER_NAME=${SERVER_NAME}
      - MONITORING_EMAIL=${MONITORING_EMAIL}
      - SENDER_EMAIL=${SENDER_EMAIL}
      - SENDER_NAME=${SENDER_NAME}
      - BRAND=${BRAND}
      - FORWARD_HOST=${FORWARD_HOST}
      - TLS_CERT_PATH=${TLS_CERT_PATH}
      - TLS_KEY_PATH=${TLS_KEY_PATH}
    extra_hosts:
      - "${EXTRA_HOSTS}"
    healthcheck:
      test: ["CMD-SHELL", "curl -k https://localhost:443/api/management || curl http://localhost:8081/management"]
      interval: 20s
      timeout: 30s
      retries: 20
      start_period: 5s


  postgres:
    container_name: postgres
    restart: always
    image: postgres:16
    environment:
      - POSTGRES_PASSWORD=${PG_PASS}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./postgres/data:/var/lib/postgresql/data

  adminer:
    restart: always
    image: adminer
    ports:
      - "${ADMINER_IP}:8080:8080"
