name: Build and Publish Docker Images

on:
  push:
    tags:
      - '*'

permissions:
  contents: read

env:
  REGISTRY: docker.io
  IMAGE_NAME: tinkerforge/esp32-remote-access

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: container_build

    strategy:
      matrix:
        include:
          - brand: ""
            brand_suffix: ""
          - brand: "seb"
            brand_suffix: "-seb"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract tag name
        id: tag
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/production/Dockerfile
          push: true
          build-args: |
            BRAND=${{ matrix.brand }}
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.tag.outputs.TAG }}${{ matrix.brand_suffix }}
            ${{ env.IMAGE_NAME }}:latest${{ matrix.brand_suffix }}
